priority 0

snippet .
#include <stdio.h>

int main() {
	${VISUAL}$0
	return 0;
}
endsnippet

snippet main "main"
int main() {
	${VISUAL}$0
	return 0;
}
endsnippet

snippet st "struct"
struct ${1:name} {
	${0:/* data */}
};
endsnippet
