priority 0

extends c

priority 1

snippet inc "include"
#include <${1:iostream}>
endsnippet

snippet us "using namespace"
using namespace ${1:std};$0
endsnippet

snippet cl "class .. (class)"
class ${1:`!p snip.rv = snip.basename or "name"`}
{
public:
	${1/(\w+).*/$1/} (${2:arguments});
	virtual ~${1/(\w+).*/$1/} ();

private:
	${0:/* data */}
};
endsnippet
